.all [class*="col"]{
    background-color: #fa0000;
    padding: 20px 0;
    border: 1px solid white;
    color: white;
    text-align: center;
}

[class*="col"] > .row{
    padding: 0 20px;
}

[class*="col"] > .row [class*="col"] {
    background-color: #0004ff;
    border: 1px solid #fa0000;
    color: white;
    text-align: center;
}

section{
    margin-bottom: 25px;
}

.row .grande{
    height: 100px;
}

.row .normale{
    max-height: 50px;
}
